@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

#gogolecoin_wrapper {
  padding: 50px 0px 50px 0px;
  text-align: center;
  h4 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
  }
  h1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    background-clip: text;
    background: -webkit-linear-gradient(180deg, #dda46f 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  .gogolecoinbackground {
    width: 100%;
  }
  .gogolecoin {
    width: 100%;
  }
  .gogolcoin_btn {
    width: 154px;
    height: 48px;
    border-style: none;
    background-color: #dda46f;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 8px;
    margin-top: -10px;
    &:hover {
      background-color: #db934f;
    }
  }
}

@media only screen and (max-width: 600px) {
  .column_reverse {
    display: flex;
    flex-flow: column-reverse;
  }
  #googlecoin_wrapper h1 {
    font-size: 50px;
  }
  #googlecoin_wrapper .gogolcoin_btn {
    // margin-top: 10px;
  }
  #googlecoin_wrapper h1 {
    background-clip: text;
    background: -webkit-linear-gradient(180deg, #dda46f 0%, rgba(255, 255, 255, 0) 208%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #googlecoin_wrapper p {
    font-size: 16px;
    line-height: 35px;
  }
}

// @media only screen and (min-width: 768px) {
//   #googlecoin_wrapper p {
//     font-size: 16px;
//     line-height: 35px;
//   }
// }
